table {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  border-collapse: collapse;
}

td {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
}

td.vide {
  background-color: lightcoral;
}

td.bateau {
  background-color: lightblue;
}
