body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
  background-color: #f4f4f4;
}

.dock-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.ship-container {
  margin-bottom: 15px;
}

.ship {
  background-color: #555;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  cursor: grab;
  border-radius: 4px;
  user-select: none;
  transition: all 0.3s ease;
}

.ship:active {
  cursor: grabbing;
}

.size-5 {
  width: 200px;
}
.size-4 {
  width: 160px;
}
.size-3 {
  width: 120px;
}
.size-2 {
  width: 80px;
}

.ship.verticale {
  width: 40px !important;
  flex-direction: column;
}

.ship.verticale.size-5 {
  height: 200px;
}
.ship.verticale.size-4 {
  height: 160px;
}
.ship.verticale.size-3 {
  height: 120px;
}
.ship.verticale.size-2 {
  height: 80px;
}

/* .verticale {
  transform: rotateX(90 );
} */

.cell {
  width: 40px;
  height: 40px;
  background-color: #e3f2fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-valid {
  background-color: #a5d6a7 !important;
}
.hover-invalid {
  background-color: #ef9a9a !important;
}

.occupied {
  background-color: #607d8b !important;
  border: 1px solid #455a64;
  cursor: not-allowed;
}

.controls {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

#rotateBtn {
  background-color: #ff9800;
  color: white;
}

#validateBtn {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

#validateBtn.ready {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
